*{
    padding:  0;
    margin: 0;
    box-sizing: border-box;
}
.header *, .header{
outline: 2px solid rgb(0, 0, 0);

} 
.content *, .content{
outline: 1px solid rgb(193, 36, 62);
}
.header{
display: flex;
align-items: center;
gap: 35px;
background-color: rgb(255, 255, 255);
font-size:  small;
padding:  2px 5rem ;  
box-shadow: 0px 0px 2px 2px; 
padding: 1rem 8rem ;
}
.header nav ul{
display: flex;
list-style: none;
gap: 10px 
}
.glass{
position: relative;
right: -30rem;
}
.right-side{
display: flex;
justify-content: end;
gap: 15px;
list-style: none;
position: relative;
left: 30rem;

}

/* .content{} */
.right-sides{
display: flex;
flex-direction: column;
justify-content: flex-end;

}
.content{
margin: 1rem;
}
.content h2{
margin: 20px;
font-size: 25px;
}
.content dl{
margin: 10px 2rem;


}
.content button{
background-color: rgb(58, 6, 96);
color: white;
padding: 10px 90PX;
border-radius: 25%;
margin: 2px;


}